@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.WolvesStudio,
.WolvesStudioInfo,
.WolvesStudioText {
  color: #ffffff;
}

.magicText {
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: #88ff64;
  font-family: "Consolas", "Courier New", "Lucida Console", Monaco, monospace;
  font-size: 1.5rem;
  text-align: center;
  white-space: nowrap;
  width: 0;
  border-right: 4px solid;
  animation: typing 2s steps(10) 1s forwards, blink .5s infinite step-end alternate;
  overflow: hidden;
  z-index: 2;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 18ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media screen and (max-width: 769px) {
  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .editorImg {
    display: none;
    margin-left: 1rem;
    width: 50px;
    height: 50px;
  }

  .WolvesStudio {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: var(--text-color);
  }

  .WolvesStudioInfo {
    color: var(--text-color)
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
  }

  .editorImgHidden {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 250px;
    max-height: 250px;
  }

  .magicText {
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    margin-bottom: .5rem;
  }

  .WolvesStudioText {
    margin: 1rem;
    color: var(--secondary-text-color);
  }

  .content {
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  .content {
    display: flex;
    align-items: center;
    /* Centra verticalmente el contenido */
    justify-content: center;
    /* Distribuye el contenido entre texto e imagen */
    width: 100%;
    height: 45vh;
    text-align: left;
  }

  .editorImg {
    transform: rotate(-10deg);
    margin-left: 2rem;
    width: 35rem;
    height: 35rem;
    max-width: 100%;
  }

  .editorImgHidden {
    display: none;
  }

  .WolvesStudio {
    margin-top: 2rem;
    color: var(--text-color);
    font-size: 3.5vw;
    font-family: 'Noto Serif';
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .WolvesStudioText {
    color: var(--secondary-text-color);
    font-size: 2rem;
    font-family: 'Noto Serif';
    font-weight: 600;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .WolvesStudioInfo {
    font-size: 1rem;
    font-family: 'Noto Serif';
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 2em;
    color: var(--text-color);
  }
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  background: transparent;
}



.card {
  position: relative;
  z-index: -10;

  /* Ajustado el margen superior */
  left: 50%;
  transform: translate(-50%, 0);
  /* Centrado horizontal */
  user-select: none;
  padding: 3rem;
  padding-right: 4rem;
  padding-left: 4rem;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 4px 90px rgba(0, 0, 0, 0.1);
  height: 70vh;
  width: 75vw;
  display: flex;
  align-items: center;
  /* Centrado verticalmente */
  justify-content: center;
  background-color: var(--bg-color);
  /* Distribuir texto e imagen */
}

p {
  line-height: 1.6;
}

.editorImg {
  transform: rotate(-10deg);

  width: 38rem;
  height: 38rem;
}

.buttonContainer {
  margin-top: 2rem;
  justify-content: center;
}

.boton-elegante {
  z-index: 80;
  padding: 15px 30px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 70%);
  transform: scale(0);
  transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
  transform: scale(4);
}

.boton-elegante:hover {
  border-color: #b13fac;
  background: #67175a;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}