@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.linkN {
    font-family: 'Montserrat';
    font-weight: 400;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 15px;
    color: #171617;
}

.linkN:hover {
    background-color: #171617;
    color: aliceblue;

    /* border-bottom: 3px solid #171617 */
}

.WolvesStudioNav {
    margin-left: 1.5rem;

    font-size: 2rem;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Ajusta los valores según lo necesites */

}

.logo {
    width: 3rem;
    height: 3rem;
}

.flecha {
    color: #8d1f7b;
}