.imageContainer {
    width: 100%;
    max-width: 400px;
    /* Puedes ajustar esto según necesites */
}

.image {

    width: 100%;
    height: auto;
    /* Esto permite que la altura se ajuste proporcionalmente */

    /* Mantiene una relación de aspecto fija */
    object-fit: contain;
    /* Evita el recorte, ajusta la imagen dentro del contenedor */
    border-radius: 15px;
    transition: filter 0.3s ease-in-out;
}

.image:hover {
    filter: grayscale(100%);
}